<div class="empresa">
	<section class="btn-nuevo">
		<button id="ea-btn-new" type="button" class="btn btn-success">Editar información</button>
	</section>
	    <section id="ea-emp" class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	        <div class="panel panel-default">
	            <div class="panel-body">
	              Perfil Empresa
	        	</div>
	            <div class="ea-panel-footer panel-footer">
	                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="Nombre de la empresa" aria-describedby="sizing-addon1" value="Super Ejecutivos">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="NIT de la empresa" aria-describedby="sizing-addon1" value="8-9865 081039">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="Nombre de Representante Legal" aria-describedby="sizing-addon1" value="Carlos Rodriguez">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="Cédula de Representante Legal" aria-describedby="sizing-addon1" value="86.765.2398">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="Teléfono de la Empresa" aria-describedby="sizing-addon1" value="(035) 430 5498">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="Dirección de la Empresa" aria-describedby="sizing-addon1" value="AV Ferrocarril #20-12">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="N° Interno de la Empresa" aria-describedby="sizing-addon1" value="102">
	                    </div>
	                    <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                    	<input type="text" class="form-control" placeholder="N° de Vehículos Afiliados" aria-describedby="sizing-addon1" value="414">
	                    </div>
	                </div>
	            </div>
	        </div>
		</section>
</div>
<script>
		//empresa
		//$("#ea-emp").hide();
		//$("#ea-btn-ver").click(function(){
		//	$("#ea-emp").show();
		//});
		//$("#ea-btn-new").click(function(){
		//	$("#ea-emp").show();
		//});
		//$("#ea-btn-closee").click(function(){
		//	$("#ea-emp").hide();
		//});
	//fin empresa
</script>