<div class="container">
				<div class="formulario col-xs-12 col-sm-12 col-md-12 col.lg-12">
					<!-- <section id="ea-emp" class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                          Empresas
	                    	</div>
	                        <div class="ea-panel-emp ea-panel-footer panel-footer">
	                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
	                            	<div class="input-group">
										<input id="in-emp" type="text" class="form-control" aria-label="...">
										<div class="input-group-btn">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Selecciona una empresa <span class="caret"></span></button>
											<ul class="dropdown-menu dropdown-menu-right">
											  <li class="emp"><a>Super Ejecutivos</a></li>
											  <li class="emp"><a>Taxis Santa Marta</a></li>
											  <li class="emp"><a>Taxis Pro</a></li>
											  <li class="emp"><a>Pro Taxis</a></li>
											</ul>
										</div>
									</div>
	                            </div>
	                            <div class="bajar col-xs-6 col-sm-6 col-md-6 col-lg-6">
	                            	<div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
		                            	<input id="i-m1" type="text" class="form-control" placeholder="NIT" aria-describedby="sizing-addon1">
		                            </div>
		                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
		                            	<input id="i-m2" type="text" class="form-control" placeholder="Representante legal" aria-describedby="sizing-addon1">
		                            </div>
	                            </div>
	                        </div>
	                    </div>
                	</section> -->
                	<section class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                          Propietarios
	                    	</div>
	                        <div class="ea-panel-footer2 panel-footer">
	                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Nombres" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Cédula de ciudadania del Propietario" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Dirección actual" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Teléfono del Propietario" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="N° de vehículos propios" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                                    <span>Si es administrador</span>
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Nombres" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Cédula de ciudadania" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Dirección actual" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Teléfono" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="N° de vehículos administrados" aria-describedby="sizing-addon1">
	                                </div>
			                    </div>
	                        </div>
	                    </div>
                	</section>
                	<section class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                          Conductores
	                    	</div>
	                        <div class="ea-panel-footer3 panel-footer">
	                            <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
	                            	<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Nombres" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Apellidos" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Nº de cédula" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Nº de licencia de conducción" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Tipo de licencia" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<input type="text" class="form-control" placeholder="Fecha de vencimiento de la licencia" aria-describedby="sizing-addon1">
	                                </div>

	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Grupo Sanguíneo" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="EPS" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="ARL" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Fondo de Pensión" aria-describedby="sizing-addon1">
	                                </div>
	                            </div>
	                            <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
	                            	<script src="js/upload.js"></script>
		                            <div id="image-preview">
		                                <label for="image-upload" id="image-label">
		                                	<span class="img-preview-ico glyphicon glyphicon-camera"></span>
		                                </label>
		                                <input type="file" name="image" id="image-upload"/>
		                            </div>
	                            </div>
	                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                            	<div class="ea-input-text col-md-4 col-lg-4 col-xs-4 col-sm-4">
	                                	<input type="text" class="form-control" placeholder="Comparendos vigentes" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-4 col-lg-4 col-xs-4 col-sm-4">
	                                	<input type="text" class="form-control" placeholder="Póliza de accidentes" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-4 col-lg-4 col-xs-4 col-sm-4">
	                                	<input type="text" class="form-control" placeholder="Otros Datos" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-vi col-md-4 col-lg-4 col-xs-4 col-sm-4">
	                                	<a href="https://consulta.simit.org.co/Simit/verificar/contenido_verificar_pago_linea.jsp" target="_blank" onClick="window.open(this.href, this.target, 'top=200,left=400,width=500,height=420'); return false;">
	                                		<img src="images/logo.png" alt="" height="100px">
	                                	</a>
	                                </div>
	                                <div class="ea-vi col-md-4 col-lg-4 col-xs-4 col-sm-4">
	                                	<a href="https://www.runt.com.co/portel/libreria/php/01.030528.html" target="_blank" onClick="window.open(this.href, this.target, 'top=80,left=120,width=1100,height=580'); return false;">
	                                		<img src="images/runt.png" alt="" height="100px">
	                                	</a>
	                                </div>
	                                <div class="ea-vi col-md-4 col-lg-4 col-xs-4 col-sm-4">
	                                	<img src="images/ruaf.png" alt="" height="100px">
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                	</section>
									<section class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                          Sisben de Conductor
	                    	</div>
	                        <div class="ea-panel-footer5 panel-footer">
	                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
																<div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Estrato" aria-describedby="sizing-addon1">
																</div>
																<div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<select class="form-control">
																	  <option>Vive en...</option>
																	  <option>Arriendo</option>
																	  <option>Propia pagando</option>
																	  <option>Propia Pagada</option>
																	  <option>Otra condición</option>
																	</select>
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Fecha de Nacimiento" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Parentesco con jefe del hogar" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Estado Civil" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Discapacidad Permanente" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="En salud afialiado a" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Cuantos hijos tiene" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="A cargo de cuantas personas" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Asiste a centros educativos" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Ultimo año aprobado" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Nivel educativo alcanzado" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Profesion u actividad comercial" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Actividad en el ultimo mes" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Percibe ingresos extra" aria-describedby="sizing-addon1">
																</div>
																<div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
																	<input type="text" class="form-control" placeholder="Total Ingresos mensuales" aria-describedby="sizing-addon1">
																</div>
															</div>
													</div>
											</div>
										</section>
                	<section class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                          Vehículos
	                    	</div>
	                        <div class="ea-panel-footer4 panel-footer">
	                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Marca del vehículo" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Modelo" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Clase" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Color" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Nº del motor" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Servicio" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Manifiesto" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Serie" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Año modelo" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Chasis" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Tipo de carrocería" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Cilindraje" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="SOAT - Vigencia" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Revisión TM - Vigencia" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Fecha último mantenimiento" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Tarjeta de Operación" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Póliza contractual" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Póliza extracontractual" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="Nº interno del vehículo" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-input-text col-md-3 col-lg-3 col-xs-3 col-sm-3">
	                                	<input type="text" class="form-control" placeholder="otros Datos" aria-describedby="sizing-addon1">
	                                </div>
	                                <div class="ea-vi col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<a href="https://consulta.simit.org.co/Simit/verificar/contenido_verificar_pago_linea.jsp" target="_blank" onClick="window.open(this.href, this.target, 'top=200,left=400,width=500,height=420'); return false;">
	                                		<img src="images/logo.png" alt="" height="100px">
	                                	</a>
	                                </div>
	                                <div class="ea-vi col-md-6 col-lg-6 col-xs-6 col-sm-6">
	                                	<a href="https://www.runt.com.co/portel/libreria/php/01.030528.html" target="_blank" onClick="window.open(this.href, this.target, 'top=80,left=120,width=1100,height=580'); return false;">
	                                		<img src="images/runt.png" alt="" height="100px">
	                                	</a>
	                                </div>
		                        </div>
	                        </div>
	                    </div>
                	</section>
				</div>
			</div>
			<footer></footer>
			<script type="text/javascript">
		        $(document).ready(function() {
		            $.uploadPreview({
		                input_field: "#image-upload",
		                preview_box: "#image-preview",
		                label_field: "#image-label"
		            });

		        	$(".emp").click(function(){
                		var val = $(this).find("a").html();
                		$("#in-emp").val(val);
                		$("#i-m1").val("8-099 8909");
                		$("#i-m2").val("Luis Castro H.");
                	});
		        });
		    </script>
